body {
    margin: 10px;
}
.person {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.person img {
    width: 240px;
}
.infoContainer {
    width: 75%;
}
.person h6 span {
    color: var(--main-color);
    font-weight: 800;
}
ul {
    font-size: 25px;
}
a {
    color: blue;
}
a:active {
    color: red;
}
a:hover {
    text-decoration: underline;
}
li {
    margin: 10px 0;
    font-size: var(--paragraph);
    list-style-type: disc;
}
.contacts li {
    white-space: normal;
}
.footerContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 80px;
}
footer {
    margin-bottom: 40px;
}
footer ul {
    margin: 0;
}